{% extends "base.html" %}
{% block titulo %}Administración{% endblock %}
{% block contenido %}
<h1>Administración</h1>
<div class="cuadricula">
  <div class="tarjeta"><div class="cifra">{{ n_clientes }}</div>Clientes<div class="acciones"><a class="boton sec" href="{% url 'adm_lista' 'clientes' %}">Gestionar</a></div></div>
  <div class="tarjeta"><div class="cifra">{{ n_contratos }}</div>Contratos<div class="acciones"><a class="boton sec" href="{% url 'adm_lista' 'contratos' %}">Gestionar</a></div></div>
  <div class="tarjeta"><div class="cifra">{{ n_plantillas }}</div>Plantillas de TDR<div class="acciones"><a class="boton sec" href="{% url 'adm_lista' 'plantillas' %}">Gestionar</a></div></div>
</div>
{% endblock %}
